<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Maribor needs microphone access to convert your speech to text for creating tasks.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Maribor uses speech recognition to help you create tasks by voice.</string>
</dict>
</plist> 